*{
    margin: 0 auto;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    list-style-type: none;
}
h1{
    
    font-size:75px;
    color:#ffc637;
}
h2{
    margin-top: 130px;
    font-size:50px;
    color:#ffc637;
    
}
h3{
    color: #696969;
    font-size: 25px;
}
h5{
    color: #696969;
    font-size:30px;
}
h6{
    color: #ffc637;
    font-size:40px;
}
h4{
    color:#ffc637;
    font-size:14px;
}
.top_text{
    color:#a1a1a1
}
.top{
    /* z-index: 1; */
    float: right;
    width: 1000px;
    height: 20px;

}
.top a{
    margin-left: 10px;
    float: right;
}
.top span{
    margin-left: 10px;
    float: right;
}

body{
    width: 1000px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
ul{
    padding: 10px 0px;
    /* padding: 10px; */
    /* margin: 10px; */
}
.script{
    margin: 0px;
    list-style-type: none;
}
.script li{
    font-size: 20px;
    padding: 5px 0px;
    list-style-type: decimal;
}

.script li:nth-child(2n){
    background: rgb(255, 255, 255);
}
.script li:nth-child(2n-1){
    background: rgb(239, 239, 239);
}
.script li{
    padding: 15px 0px;
}
a{
    text-decoration: none;
    color: #919191;
}
img{
    width: 200px;
    border-radius: 10%;
}
.netflix{
    width: 100px;
    border-radius: 5%;
    float:right;
    margin-top: -25px;
}
.headimg{
    width: 150px;
    float: left;
    border-radius: 10%

}
.head{
    height: 115px;
    width: 400px;
    float: left;
    /* text-align: center; */
    border-bottom: 5px solid #ffc637;
    margin-top: -20px;
    margin-bottom: 30px;

}
.menu{
    height: 95px;
    width: 600px;
    float: left;
    /* text-align: center; */
    border-bottom: 5px solid #ffc637;
    margin-bottom: 30px;
}
.foot{
    padding-top: 15px;
    color: #919191;
    margin-top: 50px;
    height: 30px;
    text-align: center;
    border-top: 5px solid #ffc637;
}
.contents{
    height: 1000px;
}
span{
    font-weight: bold;
}
.login{
    padding: 30px;
    
    width: 300px;
    margin-top: 170px;
    
    text-align: center;
    border: 3px solid #dedede;
}
.account{
    margin-top: 40px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.account_btn{
    width: 100px;
    height: 40px;
    border: none;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}